.container {
  @apply text-h-blue  h-screen  flex flex-col w-full overflow-x-hidden;
}
.main {
  @apply flex-grow px-8 xl:px-52  flex flex-col items-center overflow-auto;
}

.project:nth-child(odd) {
  @apply justify-end;
}

.project:nth-child(odd) .projectDetails {
  left: 0;
}
.project .projectDetails{
  z-index: 200;
}
.viewProject{
}
.viewProject:hover  div{
  animation:forward-backward infinite 1.5s;
  
}

@keyframes forward-backward {
    0%{
        transform:translateX(1px);
    }
    
    50%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0px);
    }

  
}

